fn factorial(n : i32) -> i32 {
  let mut result = 1;
  for i in 1..(n + 1) {
    result = result * i;
  }
  result
}

fn main() {
  let n = readI32();
  let n_factorial = factorial(n);
  writeI32(n_factorial);
}
