fn sieve() -> [bool; 1000000] {
	let mut tab = [false; 1000000];
	let N = 1000000;
	tab[0] = false;
	tab[1] = false;
	let mut x = 2;
	while x * x < N {
		if tab[x] {
			let mut y = x * x;
			while y < N {
				tab[y] = false;
				y = y + x;
			}
		}
		x = x + 1;
	}
	tab
}

fn main() {
	let primes = sieve();
	for i in 2..1000000 {
		if primes[i] {
			writeI32(i);
		}
	}
}